/* 
必须使用 @import "reset.css";
使用 @import ("reset.css"); 这种方式postcss-import插件无效
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* @import "./mixins/mixin.css"; */
.icon.is-twitter {
        color: blue;
  background: url twt.png;
    }
.icon.is-twitter:hover {
        color: white;
        background: blue;
    }
.icon.is-youtube {
        color: red;
  background: url youtube.png;
    }
.icon.is-youtube:hover {
        color: white;
        background: red;
    }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}
main {
  font-size: 1.5rem;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background: hsl(220, 10%, 5%);
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.box {
  width: 100px;
  height: 100px;
  background: -webkit-linear-gradient(
    294deg,
    rgba(0, 13, 168, 1) 0%,
    rgba(255, 0, 239, 1) 100%
  );
  background: -moz-linear-gradient(
    294deg,
    rgba(0, 13, 168, 1) 0%,
    rgba(255, 0, 239, 1) 100%
  );
  background: -o-linear-gradient(
    294deg,
    rgba(0, 13, 168, 1) 0%,
    rgba(255, 0, 239, 1) 100%
  );
  background: linear-gradient(
    156deg,
    rgba(0, 13, 168, 1) 0%,
    rgba(255, 0, 239, 1) 100%
  );
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 0 48px rgba(255, 0, 239, 0.2);
     -moz-box-shadow: 0 0 48px rgba(255, 0, 239, 0.2);
          box-shadow: 0 0 48px rgba(255, 0, 239, 0.2);
}
.box:hover {
    background: -webkit-linear-gradient(
      294deg,
      rgba(255 0 239 100%) 0%,
      rgba(0 13 168 100%) 100%
    );
    background: -moz-linear-gradient(
      294deg,
      rgba(255 0 239 100%) 0%,
      rgba(0 13 168 100%) 100%
    );
    background: -o-linear-gradient(
      294deg,
      rgba(255 0 239 100%) 0%,
      rgba(0 13 168 100%) 100%
    );
    background: linear-gradient(
      156deg,
      rgba(255 0 239 100%) 0%,
      rgba(0 13 168 100%) 100%
    );
  }
